// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

//Import GOV.UK Frontend
@import "@govuk-frontend/all/all";

// Patterns that aren't in Frontend
@import 'patterns/check-your-answers';
@import 'patterns/related-items';

.code {
  color: $govuk-text-colour;
  background-color: $govuk-grey-4;

  text-shadow: 0 1px $govuk-white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  border: 1px solid $govuk-border-colour;
  padding: 4px 4px 2px;
}


// Local fixes to GOV.UK frontend

.markdown hr {
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "top");
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
}

.govuk-list + .govuk-heading-l,
.govuk-list + .govuk-heading-m,
.govuk-list + .govuk-heading-s,
.govuk-prose-scope ul + h2,
.govuk-prose-scope ul + h3,
.govuk-prose-scope ul + h4,
.govuk-prose-scope pre + h2,
.govuk-prose-scope pre + h3,
.govuk-prose-scope pre + h4 {
  @include govuk-responsive-padding($govuk-spacing-responsive-4, "top");
}


// STYLES FOR FORM INPUT PREFIXES AND SUFFIXES

.input-wrapper{
  display: flex;
}

$govuk-light-grey: #f3f2f1; // New light grey colour

.govuk-c-input__prefix,
.govuk-c-input__suffix{
  background-color: $govuk-light-grey;
  white-space: nowrap;
  flex: 0;
  padding: 6px; // Fix text alignment
}

.govuk-c-input__prefix{
  border-right: 0;
}

.govuk-c-input__suffix{
  border-left: 0;
}

.govuk-c-input:focus {
  z-index: 1 // Bump up the z-index on focus so it appears over the suffix
}









