{% extends "layout.html" %}

{% macro govukInput2(params) %}
  {% from "label/macro.njk" import govukLabel %}

<div class="govuk-o-form-group {%- if params.errorMessage %} govuk-o-form-group--error{% endif %}">

  {{- govukLabel({
    html: params.label.html,
    text: params.label.text,
    hintText: params.label.hintText,
    hintHtml: params.label.hintHtml,
    classes: params.label.classes,
    attributes: params.label.attributes,
    errorMessage: params.errorMessage,
    for: params.id
  }) -}}
<div class="input-wrapper">
{%- if params.prefix %}<span class="govuk-c-input govuk-c-input__prefix">{{ params.prefix }}</span>{% endif %}<input class="govuk-c-input {%- if params.classes %} {{ params.classes }}{% endif %} {%- if params.errorMessage %} govuk-c-input--error{% endif %}" id="{{ params.id }}" name="{{ params.name }}" type="{{ params.type | default('text') }}"
  {%- if params.value %} value="{{ params.value}}"{% endif %}
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>{%- if params.suffix %}<span class="govuk-c-input govuk-c-input__suffix">{{ params.suffix }}</span>{% endif %}
</div>
</div>
{% endmacro %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">
          Form input prefixes and suffixes
        </h1>

        <p class="govuk-body-l">
          Use form input prefixes and suffixes to indicate things like measurement units, currencies, percentages and area codes.
        </p>

        <h2 class="govuk-heading-m">
          Prefix examples
        </h2>

        {{ govukInput2({
          "label": {
            "text": "Ticket price"
          },
          id: "ticket-price",
          name: "ticket-price",
          classes: "govuk-!-width-one-quarter",
          type: "number",
          prefix: "£"
        }) }}

<!--
        {{ govukInput2({
          "label": {
            "text": "Telephone number"
          },
          id: "telephone-number",
          name: "telephone-number",
          classes: "govuk-!-width-two-thirds",
          type: "tel",
          prefix: "+44"
        }) }}
      -->

        {{ govukInput2({
          "label": {
            "text": "Access code"
          },
          id: "access-code",
          name: "access-code",
          classes: "govuk-!-width-one-quarter",
          prefix: "DWP -"
        }) }}


        <h2 class="govuk-heading-m">
          Suffix examples
        </h2>


        {{ govukInput2({
          "label": {
            "text": "Total weight"
          },
          id: "total-weight",
          name: "total-weight",
          classes: "govuk-!-width-one-quarter",
          type: "number",
          suffix: "kg"
        }) }}

        {{ govukInput2({
          "label": {
            "text": "Percent complete"
          },
          id: "percent-complete",
          name: "percent-complete",
          classes: "govuk-!-width-one-quarter",
          type: "number",
          suffix: "%"
        }) }}

        <p class="govuk-body">
          <a href="https://github.com/timpaul/prototype-prefix-suffix">The code for these examples is available on GitHub</a>
        </p>

        <h2 class="govuk-heading-l">
          How it works
        </h2>

        <p class="govuk-body">
          Prefixes and suffixes:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>can be any length</li>
          <li>are joined to their inputs to indicate their connection</li>
          <li>are greyed-out and have no focus to indicate that they cannot be edited</li>
          <li>are bordered to avoid ragged-left form field alignment</li>
        </ul>

        <h3 class="govuk-heading-s">
          Ignore manually entered prefixes and suffixes
        </h3>

        <p class="govuk-body">
          Some users will not notice the prefix or suffix and will enter it manually into the input.
          You should strip any manually entered prefixes and suffixes before validating the input.
        </p>



        <h3 class="govuk-heading-s">
          To do:
        </h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            make the focus state of suffixes appear over their associated form input
          </li>
          <li>
            add JavaScript to detect if the user enters the prefix or suffix into the input, and ignore or mask it
          </li>
        </ul>
        
      </div>
    </div>
  </main>
</div>

{% endblock %}
